html {
    height: 100%;
}

.Field {
    position: relative;
    height:400px;
    width: 600px;
    outline: 1px solid black;

}

.paddle {
    height: 100px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 80px;
    /*margin: 10px;*/
}

#ball {
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
     /*margin: auto;*/
     top: 200px;
     left: 295px;
}

#leftPaddle {
    left: 0;

}

#rightPaddle {
    right: 0;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

.scoreboard {
    position: relative;
    width: 100px;
    height: 150px;
    left: 250px;
    top: 10px;
}

#PlayerLabel {
    text-align: center;
}

.players {
    /*text-align: center;*/
    padding: 10px;
}

#gamescore {
    text-align: center;
}

.score {
    padding: 10px;
    font-size: 50px;
    opacity: 0.5;
}

#start {
    position: fixed;
    left: 250px;
    top: 400px;
}

.dashedLine {
    position: absolute;
    border-right: dashed black;
    color: aquamarine;
    width: 300px;
    height: 400px;
    top: 0px;
    left: 0px;
}